<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Student</title>
</head>
<body>
    <h1>Welcome, <%= person.username %>! Logged in as Student.</h1>
    <button><a href="/" id="buttonlink">Logout</a></button>
</body>
</html>

