<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Center Connect</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f4f4f4;
            padding: 5px 10px;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            height: 50px;
            margin-right: 10px;
        }
        .logo h1 {
            font-size: 1.5rem;
            margin: 0;
            color: #333;
        }
        .nav-links {
            display: flex;
            align-items: center;
        }
        .nav-links a {
            display: flex;
            align-items: center;
            margin-left: 20px;
            text-decoration: none;
            color: #333;
            font-size: 1rem;
        }
        .nav-links a i {
            margin-right: 5px;
        }
        .nav-links a:hover {
            transform: translateY(-5px);
            
            transition: all 0.3s linear;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="logo">
            <img id="logo"src="logoHC.jpeg" alt="Health Center Logo">
            <h1>Health Center Connect</h1>
        </div>
        <div class="nav-links">
            <a href="/availableMedi"><i class="fas fa-pills"></i>Available Medicines</a>
            <a href="/bloodDonors"><i class="fas fa-tint"></i>Blood Donors List</a>
            <a href="#"><i class="fas fa-video"></i>Virtual Conference</a>
            <a href="#"><i class="fas fa-calendar-alt"></i>Slot Booking</a>
            <a href="/home"><i class="fas fa-user"></i></a>
        </div>
    </div>

</body>
</html>
